<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Tugas Akhir Pelatihan Golang</title>

    <style>
        .container {
            max-width: 550px;
        }
    </style>

  </head>
  <body>

    <div class="container mt-5">
        <h3>Update Data Tasking</h3>
        <a href="/tasking/" class="btn btn-sm btn-primary">Lihat Data</a>
        <hr/>

        {{ if .pesan }}
        <div class="alert alert-success">
            {{ .pesan }}
        </div>
        {{ end }}

        <form action="/tasking/edit" method="post">
            <div class="form-group">
                <label for="">Task Detail</label>
                <textarea name="task" class="form-control {{ if .validation.Task }} is-invalid {{ end }}">{{ .tasking.Task }}</textarea>
                <div class="invalid-feedback">
                    {{ .validation.Task }}
                </div>
            </div>
            <div class="form-group">
                <label for="">Assigne</label>
                <input type="text" name="assigne" value="{{ .tasking.Assigne }}" class="form-control {{ if .validation.Assigne }} is-invalid {{ end }}">
                <div class="invalid-feedback">
                    {{ .validation.Assigne }}
                </div>
            </div>
            <div class="form-group">
                <label for="">Deadline</label>
                <input type="date" name="dead_line" value="{{ .tasking.DeadLine }}" class="form-control {{ if .validation.DeadLine}} is-invalid {{ end }}">
                <div class="invalid-feedback">
                    {{ .validation.DeadLine }}
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="id" value="{{ .tasking.Id }}">
                <button class="btn btn-primary btn-block" type="submit">Update</button>
            </div>
        </form>
    </div>
 </body>
</html>